In [1]:
import pandas as pd

In [4]:
seattle911 = pd.read_csv("../data_raw/seattle-911.csv", low_memory=False)
seattle911.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CAD CDW ID</th>
      <th>CAD Event Number</th>
      <th>General Offense Number</th>
      <th>Event Clearance Code</th>
      <th>Event Clearance Description</th>
      <th>Event Clearance SubGroup</th>
      <th>Event Clearance Group</th>
      <th>Event Clearance Date</th>
      <th>Hundred Block Location</th>
      <th>District/Sector</th>
      <th>Zone/Beat</th>
      <th>Census Tract</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Incident Location</th>
      <th>Initial Type Description</th>
      <th>Initial Type Subgroup</th>
      <th>Initial Type Group</th>
      <th>At Scene Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>﻿15736</td>
      <td>1.000025e+10</td>
      <td>2.010246e+09</td>
      <td>242.0</td>
      <td>FIGHT DISTURBANCE</td>
      <td>DISTURBANCES</td>
      <td>DISTURBANCES</td>
      <td>07/17/2010 08:49:00 PM</td>
      <td>3XX BLOCK OF PINE ST</td>
      <td>M</td>
      <td>M2</td>
      <td>8100.2001</td>
      <td>-122.338147</td>
      <td>47.610975</td>
      <td>(47.610975163, -122.338146748)</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>15737</td>
      <td>1.000025e+10</td>
      <td>2.010246e+09</td>
      <td>65.0</td>
      <td>THEFT - MISCELLANEOUS</td>
      <td>THEFT</td>
      <td>OTHER PROPERTY</td>
      <td>07/17/2010 08:50:00 PM</td>
      <td>36XX BLOCK OF DISCOVERY PARK BLVD</td>
      <td>Q</td>
      <td>Q1</td>
      <td>5700.1012</td>
      <td>-122.404613</td>
      <td>47.658325</td>
      <td>(47.658324899, -122.404612874)</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>15738</td>
      <td>1.000025e+10</td>
      <td>2.010246e+09</td>
      <td>250.0</td>
      <td>MISCHIEF, NUISANCE COMPLAINTS</td>
      <td>NUISANCE, MISCHIEF COMPLAINTS</td>
      <td>NUISANCE, MISCHIEF</td>
      <td>07/17/2010 08:55:00 PM</td>
      <td>21XX BLOCK OF 3RD AVE</td>
      <td>M</td>
      <td>M2</td>
      <td>7200.2025</td>
      <td>-122.342843</td>
      <td>47.613551</td>
      <td>(47.613551471, -122.342843234)</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15739</td>
      <td>1.000025e+10</td>
      <td>2.010246e+09</td>
      <td>460.0</td>
      <td>TRAFFIC (MOVING) VIOLATION</td>
      <td>TRAFFIC RELATED CALLS</td>
      <td>TRAFFIC RELATED CALLS</td>
      <td>07/17/2010 09:00:00 PM</td>
      <td>7XX BLOCK OF ROY ST</td>
      <td>D</td>
      <td>D1</td>
      <td>7200.1002</td>
      <td>-122.341847</td>
      <td>47.625401</td>
      <td>(47.625401388, -122.341846999)</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15740</td>
      <td>1.000025e+10</td>
      <td>2.010246e+09</td>
      <td>250.0</td>
      <td>MISCHIEF, NUISANCE COMPLAINTS</td>
      <td>NUISANCE, MISCHIEF COMPLAINTS</td>
      <td>NUISANCE, MISCHIEF</td>
      <td>07/17/2010 09:00:00 PM</td>
      <td>9XX BLOCK OF ALOHA ST</td>
      <td>D</td>
      <td>D1</td>
      <td>6700.1009</td>
      <td>-122.339709</td>
      <td>47.627425</td>
      <td>(47.627424837, -122.339708605)</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
seattle911.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442527 entries, 0 to 1442526
Data columns (total 19 columns):
CAD CDW ID                     1442527 non-null object
CAD Event Number               1442523 non-null float64
General Offense Number         1442523 non-null float64
Event Clearance Code           1432207 non-null float64
Event Clearance Description    1432206 non-null object
Event Clearance SubGroup       1432206 non-null object
Event Clearance Group          1432206 non-null object
Event Clearance Date           1432062 non-null object
Hundred Block Location         1439035 non-null object
District/Sector                1441366 non-null object
Zone/Beat                      1442521 non-null object
Census Tract                   1439735 non-null float64
Longitude                      1442521 non-null float64
Latitude                       1442521 non-null float64
Incident Location              1442521 non-null object
Initial Type Description       864709 non-null object
Initial Type Subgroup          864709 non-null object
Initial Type Group             864709 non-null object
At Scene Time                  415888 non-null object
dtypes: float64(6), object(13)
memory usage: 209.1+ MB